<mat-toolbar color="primary">
	<button (click)="expanded()"
		mat-icon-button>
		<mat-icon>menu</mat-icon>
	</button>
	<span   class="sm:block hidden ">
		Inventory Management
	</span>
	<span class="example-spacer"></span>
    <div (click)="goToItem()" class="flex">
        <button mat-icon-button
		class="example-icon favorite-icon"
		aria-label="Example icon-button with heart icon">
        <mat-icon>add_circle</mat-icon>
	</button>
    <span class="text-[15px]" >Add New Item</span>
    </div>
</mat-toolbar>
